body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #5c414c;
}

header{
	background: #5c414c;
	color: white;
	padding: 20px;
	text-align: center;
}

nav ul{
	list-style: none;
	padding: 0;
}

nav ul li{
	display: inline;
	margin:0 15px;
}

section{
	padding: 50px;
	text-align: center;
}

footer{
	background: #5c414c;
	color: white;
	text-align: center;
	padding: 10px;
	bottom: 0;
	width: 100%;
}